.hero-img{
    position: relative;
    height: 35rem; 
    background-size: cover; 
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    &::before{
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.4);
        z-index: 1;
        border-radius: 2rem;
    }
}

.line {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-size: 102% auto;
    background-position: center;
    background-repeat: no-repeat;
    &-flip {
        transform: translate(-50%, -50%) scaleX(-1);
    } 
}
.popular {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.circle{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    display: flex;align-items: center;justify-content: center;flex-direction: column;margin: auto;
}

.heading-line::after{
    content: '';
    background: #79ED43;
    width: 242px;
    position: absolute;
    height: 8px;
    bottom: -16px;
    left: 0;
}

.review{
    background-color: #F6F6F6;
    border-radius: 42px;
}   

.news-card{
    height: 186px;
    padding: 3.5rem;
    background-color: #F6F6F6;
    text-align: center;
    border-radius: 32px;
}





.custom-shape-divider-top-1640277092 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640277092 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1640277092 .shape-fill {
    fill: #FFFFFF;
}






.custom-shape-divider-bottom-1640280809 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640280809 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1640280809 .shape-fill {
    fill: #E7FCDD;
}




.custom-shape-divider-bottom-1640281092 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640281092 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1640281092 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-top-1640433980 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640433980 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1640433980 .shape-fill {
    fill: #FFFFFF;
}


.valuation .overlay{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1640434072 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640434072 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1640434072 .shape-fill {
    fill: #FFFFFF;
}


.about-heading::after{
    content: '';
    background: #79ED43;
    width: 242px;
    position: absolute;
    height: 12px;
    bottom: -24px;
    left: 0;
}

// navbar

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: black;
    color: #217262;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.active{
    border-bottom: 4px solid #79ED43;
}


// Media Query

.back-img{
    padding-bottom: 820px;
}
@media screen and (min-width: 768px) {
    .back-img{
        padding-bottom: 400px;
    }
}


// 3rd page 
